# Production credentials
DATABASE_URL="PUT THE POSTGRES DATABASE URL HERE"
DATABASE_NAME="PUT THE SLAM ALPHAS DATABASE NAME HERE"
DB_USERNAME="PUT THE DB USERNAME HERE" # The user who can log into the database
DB_PASSWORD="PUT THE DB PASSWORD HERE"

# Production secrets
SECRET_KEY_BASE= "PUT YOUR SECRET TOKEN HERE" # Generate your personal secret token via 'bundle exec rake secret'