# Production credentials

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?pool=5&timeout=5000"

# Storage for image upload
AWS_ACCESS_KEY_ID="PUT YOUR ID"
AWS_SECRET_ACCESS_KEY="PUT YOUR SECRET KEY"
S3_BUCKET="bukket"

MAPBOX_API_KEY="PUT YOUR MAPBOX KEY"

# Email provider
MAILGUN_USERNAME="PUT YOUR USERNAME"
MAILGUN_PASSWORD="PUT YOUR PASSWORD"

# Redis for caching Geocoding requests
REDISTOGO_URL="redis://username:password@my.host:6389"

# Production secrets
SECRET_KEY_BASE= "PUT YOUR SECRET TOKEN HERE" # Generate your personal secret token via 'bundle exec rake secret'

OFFICE_EMAIL="mail@office.com"
