<p><%= @user.name %>,</p>

<p>Wir haben ein Profil auf <a href="http://karte.slamalphas.org">Slam Alphas Karte</a> für dich angelegt.</p>

<p>Benutze diese Emailadresse und vordere <%= link_to "ein neues Passwort an", change_password_user_path(@user) %>.</p>

<p>Danach kannst du dich einloggen und dein Profil bearbeiten.</p>

<p>Slam Alphas</p>
