<p>Hi <%= @user.name %>!</p>

<p>Du hast ein Profil bei <a href="https://karte.slamalphas.org/">SLAM ALPHAS</a>.</p>
<p>Falls du dich noch nicht eingeloggt hast, kannst du <%= link_to 'hier ein neues Passwort', new_password_path %> erhalten und dann dein Profil vervollständigen.</p>

<p>Bitte ignoriere diese Mail Wenn du das alles schon gemacht hast.</p>

<p>Bis bald,</p><br><br>
<p>die SLAM ALPHAS</p>
