<p>Liebe Slammerinnen*, liebe Kolleginnen*,</p>

<p>es ist soweit: Die <a href="https://karte.slamalphas.org/">SLAM ALPHAS</a> sind bereit für die Öffentlichkeit! Wir haben die technischen Fehler der letzten Wochen behoben und planen, noch diesen Freitag (22.09.2017) online zu gehen.</p>

<p>Ihr könnt Euer Passwort ändern und Euer Profil verwalten, wenn ihr diesem Link folgt</p>

<p><a href="https://karte.slamalphas.org/passwords/new">Passwort anfordern!</a></p>

<p>Wir freuen uns, dass ihr dabei seid!</p>

<p>
Eure,<br>
SLAM ALPHAS</p>
