<p>Hallo <%= @user.name %>!</p><br><br>

<p>Dein Profil ist jetzt online! Von nun an können Dich Veranstaltende über die SLAM ALPHAS Karten ganz leicht finden. Du kannst Dein Profil hier<%= link_to @user.name, user_url(@user) %></p><br><br>

<p>Deine,</p><br><br>

<p>SLAM ALPHAS</p>
