<p>Hallo <%= @user.name %>!</p><br><br>

<p>Wir freuen uns, dass Du auf den SLAM ALPHAS Karten erscheinen willst!</p>
<p>Bitte gib uns etwas Zeit, Deine Angaben zu prüfen.</p>
<p>Wir melden uns bei Dir, sobald Dein Profil online ist!</p><br><br>

<p>Bis bald,</p><br><br>
<p>die SLAM ALPHAS</p>
