<p style="color:#e63831">Felder mit * sind Pflichtfelder</p>

<nav>
  <ul>
    <li><%= link_to  "Persönliche Angaben", edit_user_path(@user) %></li>
    <li><%= link_to  "Reiseprofil", edit_user_path(@user) %></li>
    <li><%= link_to  "Veranstaltungen", user_events_path(@user) %></li>
  </ul>
</nav>
