<div class="admin-wrapper">
  <h1 class="title-main">Editing user</h1>

  <%= render partial: '/users/form', locals: {show_password_fields: true} %>

  <div class="pther-links">
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
