<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>


    <%= render partial: '/users/form', locals: {show_password_fields: true} %>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>

</div>
