<% if signed_in? %>
<div class="admin-topbar">
  <p>Hey <%= current_user.name %>!</p>
  <ul>
    <li><%= link_to "Alle", users_path, title: "Alle Profile ansehen"%> |</li>
    <li><%= link_to "Neu", new_user_path, title: "Neues Profil anlegen" %> |</li>
    <li><%= link_to "Abmelden", sign_out_path, method: :delete %></li>
  </ul>
</div>
<% end %>
