<% if signed_in? %>
  <div class="admin-topbar">
    <p>Hey <%= link_to current_user.name, user_path(current_user), title: "Zu deinem Profil" %>! <% if current_user.admin? %> (Admin user)<% end %></p>
    <ul>
      <% if current_user.admin? %>
        <li><%= link_to "Alle", users_path, title: "Alle Profile ansehen"%> |</li>
      <% end %>
      <li><%= link_to "Password ändern", change_password_user_path(current_user) %></li>
      <li><%= link_to "Abmelden", sign_out_path, method: :delete, title: "Logge dich aus" %></li>
    </ul>
  </div>
<% end %>
