<% if list.present? %>
  <h2 class="title-sub m-t-l m-b-m"><%= title %></h2>
  <ul class="event-list">
    <% list.each do |e| %>
      <%= render 'list_element', event: e, controls: true %>
    <% end %>
  </ul>
<% end %>
