.error_explanation
  padding: .5em 1em
  margin-bottom: 2em
  background: crimson
  color: white

.field_with_errors
  label
    color: crimson

  input,
  select
    border: crimson 2px solid !important
