.error_explanation
  padding: .5em 1em
  margin-bottom: 2em
  background: crimson
  color: white

.field_with_errors
  label
    color: crimson

  input,
  select
    border: crimson 2px solid !important

.flashes
  position: absolute
  top: 2.5rem
  left: 0
  right: 0
  width: 90%
  height: 3rem
  margin: auto
  .inner
    position: relative
    z-index: 11
    p
      position: relative
      padding: .5em
    //animation: fadeOut 4s 1 ease-out
    //animation-fill-mode: forwards

  .notice,
  .success
    background: lightblue
    border: 1px solid steelblue
    color: steelblue

  .warning,
  .error
    background-color: lemonchiffon
    color: orange
    border: 1px solid orange

.flash-close
  background-color: transparent
  color: black
  position: absolute
  right: .5rem
  border: none
  font-weight: 600
  line-height: 0.6
  &:hover,
  &:active
    border: none
    background-color: transparent

@keyframes fadeOut
  0%
    opacity: 1
    display: block
    z-index: 10
  99%
    opacity: 1
  100%
    opacity: 0
    z-index: -1
