.l-header
  z-index: 10


$blue: #1837a0

.l-alphabet
  .is-highlight
    color: $blue

  @supports (animation-delay: 5s)
    .is-highlight
      animation: fadeoutColor infinite 2s ease
      animation-delay: 5s
    @keyframes fadeoutColor
      0%
        color: $blue
      100%
        color: #000
