@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
*,
*:before,
*:after {
  box-sizing: border-box; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Roboto", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%;
  height: auto; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: currentColor;
  text-decoration: underline; }
  a:visited {
    color: black; }
  a:hover, a:active {
    color: #1837a0;
    text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

figure {
  max-width: 100% !important; }

.l-wrapper {
  border: 6px solid black; }
  @media (min-width: 800px) {
    .l-wrapper {
      display: flex;
      height: 100vh;
      border: none;
      overflow: hidden; } }

@media (min-width: 800px) {
  .l-header {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 284px;
    border-right: 6px solid black;
    z-index: 4; } }

.l-logo {
  flex: 0 0 100%;
  background-color: white;
  border-bottom: 6px solid black;
  height: 70px;
  display: flex;
  flex-flow: row-reverse;
  background-color: #5bd8d0; }
  .l-logo a {
    display: flex;
    flex-direction: row;
    height: 70px; }
  @media (min-width: 800px) {
    .l-logo {
      background-color: white;
      flex: 0 0 284px; }
      .l-logo a {
        display: inherit;
        height: auto; } }

.l-navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 248px;
  border: 6px solid black;
  padding: 79px 0 48px;
  background-color: #e63831;
  transition: transform 200ms ease;
  transform: translateX(-100%); }
  .l-navigation.is-open {
    transform: translateX(0); }
  @media (min-width: 800px) {
    .l-navigation {
      transition: none;
      transform: translateX(0);
      position: static;
      border: none;
      width: auto;
      flex-grow: 1; } }

.navigation-button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: auto;
  font-family: inherit;
  background: none;
  border: none;
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
  color: black; }
  .navigation-button:hover, .navigation-button:active {
    background: inherit;
    color: inherit; }
  @media (min-width: 800px) {
    .navigation-button {
      display: none; } }

.l-alphabet {
  background-color: white;
  flex: 0 0 45px; }
  @media (min-width: 800px) {
    .l-alphabet {
      border-right: 6px solid black;
      z-index: 4; } }

.l-main {
  flex-grow: 1;
  background-color: white; }
  @media (min-width: 800px) {
    .l-main {
      overflow: scroll; } }

.l-content, .l-content--noflex {
  max-width: 950px;
  height: auto;
  padding: 53px 37px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 800px) {
  .l-content {
    display: flex; } }

.l-footer {
  border-top: solid 5px black; }

.l-footer-inner {
  max-width: 950px;
  height: auto;
  padding: 1rem 37px 0;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 800px) {
  .col-2 {
    flex: 0 1 66%;
    padding-right: 74px; } }

@media (min-width: 800px) {
  .col-1 {
    flex: 0 0 33%; } }

.title-main {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px; }
  .title-main a {
    color: inherit; }

.title-sub {
  margin-bottom: 0.4em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px; }

.list-titlelike, .navigation,
.social {
  padding: 0;
  margin: 0;
  list-style: none; }
  .list-titlelike li, .navigation li,
  .social li, .list-titlelike a, .navigation a,
  .social a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: inherit; }
  .list-titlelike a, .navigation a,
  .social a {
    text-decoration: none; }
    .list-titlelike a:hover, .navigation a:hover,
    .social a:hover, .list-titlelike a:active, .navigation a:active,
    .social a:active {
      text-decoration: underline; }

.navigation,
.social {
  text-align: center; }

.navigation li {
  margin-bottom: 36px; }
.navigation a {
  color: black; }

.social a {
  padding: 0 10px;
  color: white; }
.social .svg-fill {
  fill: white; }
.social a:hover .svg-fill,
.social a:active .svg-fill {
  fill: black; }

.post-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .post-list .title-main a {
    text-decoration: none; }
    .post-list .title-main a:hover, .post-list .title-main a:active {
      text-decoration: underline; }
  .post-list article {
    border-bottom: 6px solid black;
    padding-bottom: 25px;
    margin-bottom: 40px; }
  @media (min-width: 1000px) {
    .post-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      .post-list li {
        flex: 0 1 auto;
        width: 47.5%; } }

.post-single {
  padding-bottom: 100px;
  max-width: calc(95-px / 100 * 66); }

.aligncenter {
  margin: auto; }

.alignleft {
  float: left;
  margin-right: 2em; }

.alignright {
  float: right;
  margin-left: 2em; }

hr {
  border: 2px solid black; }

.list-images {
  padding: 0;
  margin: 0;
  list-style: none; }
  .list-images li, .list-images a {
    color: inherit; }
  .list-images a {
    text-decoration: none; }
    .list-images a:hover, .list-images a:active {
      text-decoration: underline; }
  .list-images li {
    position: relative;
    overflow: hidden; }
    .list-images li:hover .image-additional, .list-images li:active .image-additional {
      transform: translateY(0); }

.image-additional {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.2em;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: transform 200ms ease;
  transform: translateY(130%); }

.has-js .accordion-h {
  position: relative;
  cursor: pointer; }
  .has-js .accordion-h:hover, .has-js .accordion-h:active {
    background: #f1f1f1; }
  .has-js .accordion-h.is-open {
    display: block; }

.is-hidden {
  height: 0;
  overflow: hidden;
  transition: height 200ms ease; }

.l-map {
  width: 100%;
  height: 100%; }

#map {
  min-height: 100vh;
  z-index: 1; }

.logo {
  margin-bottom: 0;
  flex: 1 0 60%;
  background-color: white; }

.logo-name {
  background-image: url(../assets/logo.svg);
  background-size: 140px auto;
  background-position: center 38%;
  background-repeat: no-repeat;
  display: block;
  height: 70px;
  flex: 1 0 60%;
  text-indent: 999%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 6px solid black;
  border-left: 6px solid black; }
  @media (min-width: 800px) {
    .logo-name {
      width: 182px;
      height: 134px;
      margin: 53px auto 0;
      background-size: 134% auto;
      background-position: center 38%;
      border: none; } }

.logo-symbol {
  background-image: url(../assets/alphaherz.svg);
  background-size: 160% auto;
  background-position: 45% 54%;
  background-repeat: no-repeat;
  display: block;
  flex: 0 100px;
  height: 70px;
  text-indent: 999%;
  overflow: hidden;
  white-space: nowrap; }
  @media (min-width: 800px) {
    .logo-symbol {
      margin: -17px auto 0;
      width: 182px;
      height: 52px;
      background-size: 107% auto;
      background-position: 2px center; } }

.logo-burger {
  padding: 0;
  border: none;
  border-top: 6px solid black;
  background: white;
  height: 41px;
  align-self: flex-end;
  flex: 0 0 70px;
  font-family: inherit;
  font-size: 34px;
  font-weight: 600;
  cursor: pointer;
  color: #1837a0;
  line-height: 1; }
  @media (min-width: 800px) {
    .logo-burger {
      display: none; } }

form {
  display: block; }

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 0.6em;
  font-size: 14px;
  font-family: inherit;
  border-radius: 4px;
  border: solid 1px lightgrey;
  resize: vertical; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: black; }

input[type="submit"],
button {
  display: inline-block;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #444;
  border-color: #1e1e1e;
  color: white; }
  input[type="submit"]:active, input[type="submit"]:hover,
  button:active,
  button:hover {
    color: white;
    background-color: black; }

.l-alphabet ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; }
.l-alphabet a {
  color: black;
  text-decoration: none; }
  .l-alphabet a:hover, .l-alphabet a:active {
    color: #e63831; }

.list-alphabet {
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  width: 301px;
  padding: 1em 1.2em;
  transition: transform 200ms ease;
  z-index: 3; }
  @media (min-width: 800px) {
    .list-alphabet {
      position: absolute;
      background: white;
      height: 100%;
      overflow-y: scroll; } }
  .list-alphabet .title-main {
    margin-bottom: 0.3em; }
  .list-alphabet ul {
    list-style: none;
    padding: 0;
    margin: 0 0 2.3em;
    font-weight: 600; }
  .list-alphabet a {
    text-decoration: none; }
    .list-alphabet a:hover, .list-alphabet a:active {
      text-decoration: underline;
      color: black; }
  .has-js .list-alphabet {
    transform: translateX(109%); }
    .has-js .list-alphabet.is-hidden {
      transform: translateX(-150%);
      z-index: -1; }

.list-button {
  float: right;
  padding: 0;
  border: none;
  background: none;
  color: black;
  font-size: 2rem;
  font-weight: 600; }
  .list-button:hover, .list-button:active {
    background: none;
    color: #e63831; }

.slam-profile {
  position: absolute;
  width: 300px;
  left: 329px;
  height: 100%;
  padding: 4.5em 1.2em 1em;
  z-index: 2;
  background: white;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  transition: transform 200ms ease;
  z-index: 2; }
  .slam-profile header {
    margin: 0 0 3px;
    text-align: center; }
    .slam-profile header h1 {
      line-height: 1; }
  .has-js .slam-profile.is-hidden {
    transform: translateX(-150%);
    z-index: -1; }

.profile-button {
  position: absolute;
  top: 16px;
  right: 19px;
  padding: 0;
  border: none;
  background: none;
  color: black;
  font-size: 2rem;
  font-weight: 600; }
  .profile-button:hover, .profile-button:active {
    background: none;
    color: #e63831; }
