//
.profile-button,
.list-button
  font-size: 1.5rem

.profile-links
  width: 100%
  display: flex
  justify-content: space-between
  overflow: auto

.slam-profile
  p
    word-wrap: break-word

.profile-location
  word-wrap: break-word

.profile-notice
  clear: both
  margin-top: 2em
  padding: .3em
  background: lightblue
  border: 1px solid steelblue
  color: steelblue
